.message-wrapper {
  position: relative;
}

.message-wrapper .menu-icon {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.message-wrapper:hover .menu-icon {
  visibility: visible;
  opacity: 1;
}

.hover-bg:hover {
  background-color: #f1f1f1;
}

.sidebar-scroll {
  overflow-y: auto;
  max-height: calc(100vh - 60px);
}
